<div>
  <div style="width:100%;text-align: center;">
    <h1>ITEM DE VALORES</h1>
  </div>
  <div>
    <table>
      <tr>
        <td>
          <select>
            <option value="0">-Selectione criterio-</option>
            <option value="1">Codigo Detalle</option>
            <option value="2">Nombre detalle</option>
            <option value="3">Estado</option>
          </select>
        </td>
        <td>
          <input type="text"/>
        </td>
        <td>
          <button>BUSCAR</button>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <div>
    <table border="1">
      <tr>
        <td align="center"><b>Detalle</b></td>
        <td align="center">Nombre detalle</td>
        <td align="center">Estado</td>
        <td align="center">Accion</td>
      </tr>
    </table>
  </div>
  <div>
    <div>
      <br><br>Relacionar Lista y Valores con predecesor
    </div>
    <div>
      <table>
        <tr>
          <td>Predecesor: </td>
          <td><select name="predecesor" id="predecesor">
            <option>-Seleccione-</option>
          </select></td>
          <td>Codigo</td>
          <td><input type="text"/></td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <td>Nombre: </td>
          <td><input type="text"/></td>
        </tr>
      </table>
    </div>
  </div>
</div>