:host {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  
  table {
    width: 100%;
  }
  
  .mat-header-cell {
    text-align: center !important;
}

.mat-cell {
    text-align: center !important;
}

