:host {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  
  table {
    width: 100%;
  }
  
  .mat-header-cell {
    text-align: center !important;
}

.mat-cell {
    text-align: center !important;
}

.btn-activo {
  width: 65px;
  height: 26px;
  right: 93px;
  top: 63px;  
  background: #C9F7F5;
  border-radius: 6px;
  border-style: none;
  color:  #1BC5BD
}
.btn-inactivo {
  width: 65px;
  height: 26px;
  right: 93px;
  top: 63px;  
  background: #FFE2E5;
  border-radius: 6px;
  border-style: none;
  color: #F64E60

}

::ng-deep .dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection{
  background-color:#D44339  !important;  
  color: white;
}
::ng-deep .dx-pager .dx-pages .dx-selection{
  background-color:#D44339 !important;  
  color: white;
}
::ng-deep .dx-datagrid .dx-datagrid-table .dx-header-row > td {  
  text-align: center !important;
}
